html {
    box-sizing: border-box;
   }
   *, *:before, *:after {
    box-sizing: inherit;
   }
  
.body{
    background-color: rgb(71, 73, 83);
}


.flex {
    border: 2px solid blue;
    color: rgb(38, 19, 121);
    min-width: 20px;
    max-width: 60px;
    background-color: rgb(255, 241, 46);
    border-radius: 2px;
    margin: auto;
}

.flex__item {

}

